    <!doctype html>
    <html lang="en">
    <head>
        <title>Sum Think</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>
    <body>
        <center>
            <br><br>
            <img src="https://imgur.com/5OBx2tb.png" alt="">
            <br><br><br>
        </center>
        <!-- ID & PWD [POST] -->
        <form action="/loging" name="loginform" method="POST"> 
            <!-- ID -->
            <div class="form-group">
                <label for=""></label>
                <small id="helpId" class="form-text text-muted">&nbsp;ID</small>
                <input type="email"
                    class="form-control form-control-lg" name="loginID" id="loginID" aria-describedby="helpId" placeholder="ID를 입력하세요">
            <!-- PWD -->
                <label for=""></label>
                <small id="helpId" class="form-text text-muted">&nbsp;PWD</small>
                <input type="password"
                    class="form-control form-control-lg" name="loginPWD" id="loginPWD" aria-describedby="helpId" placeholder="PWD를 입력하세요">
            </div>
        </form>

        <!-- LOGIN & REGIST -->
        <center>
            <!-- LOGIN -->
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" onclick="login_check()">로그인</a>
            <!-- REGIST -->
            <a href="/regist" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" onclick="regist()">회원가입</a>
        </center>
        
        <!-- Optional JavaScript -->
        <script>
            function login_check() {
                if (loginform.loginID.value == "") {
                    alert("ID를 입력해주세요!");
                    loginform.loginID.focus();
                    return;

                }
                else if (loginform.loginPWD.value == "") {
                    alert("PWD를 입력해주세요!");
                    loginform.loginPWD.focus();
                    return;
                }
                else {
                    loginform.submit();
                }
            }
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </body>
    </html>