
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OUIF : Vertical Bar Graph</title>
<link rel="stylesheet" type="text/css" href="http://naradesign.net/ouif/uio/graph/vertical/vGraph.css"/>
</head>
<body>
<h1>Vertical Bar Graph</h1>
<div class="vGraph">
	<ul>
		<li><span class="gTerm">SUN</span><span class="gBar" style="height:0%"><span>0%</span></span></li>
		<li><span class="gTerm">MON</span><span class="gBar" style="height:20%"><span>20%</span></span></li>
		<li><span class="gTerm">TUE</span><span class="gBar" style="height:30%"><span>30%</span></span></li>
		<li><span class="gTerm">WED</span><span class="gBar" style="height:40%"><span>40%</span></span></li>
		<li><span class="gTerm">THU</span><span class="gBar" style="height:50%"><span>50%</span></span></li>
		<li><span class="gTerm">FRI</span><span class="gBar" style="height:60%"><span>60%</span></span></li>
		<li><span class="gTerm">SAT</span><span class="gBar" style="height:100%"><span>100%</span></span></li>
	</ul>
</div>
<button type="button" onclick="$('link').attr('href', '')">CSS(X)</button>
<button type="button" onclick="$('link').attr('href', 'vGraph.css')">CSS(O)</button>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
</body>
</html>
